@media (max-width: 1399px) {
	.content h1 {
		
		line-height: 56px;
	}
	.content p {
		font-size: 14px;
		line-height: 22px;
		font-weight: 600;
		padding: 10px 177px 10px 0px;
	} 
}

/*<!-- /////////////// -->*/

@media (max-width: 1199px) {
	.content h1 {
		line-height: 46px;
		font-size: 34px;
    }
    .content p {
		font-size: 13px;
		line-height: 22px;
		font-weight: 600;
		padding: 10px 0px;
	}
    .header {
    	background-image: url('../images/bg.png');
    	background-size: 500px 400px;
    }
    .trust {
    	background-image: url('../images/bg5.png');
    	background-size: 520px 420px;
    }
    .personal h2 {
	font-size: 15px;
	margin-bottom: 10px;
	}
	.personal h3 {
		font-size: 18px;
	}
	.personal h3 .dollar {
		font-size: 30px;
	}
	.personal h4 {
	margin-bottom: 20px
	}
	.personal ul {
		margin-bottom: 25px;
	}
	.personal ul li {
		font-size: 12px;
		padding: 7px 0px;
	}
	.price .personal ul li i {
	font-size: 10px;
	margin-right: 5px;
	}
	.contact input[type="text"] {
		width: 65%;
	}
	.footer .top-footer .icon i {
		font-size: 16px;
		color: #fff;
		padding: 12px 14px;
		line-height: 16px;
		float: left;
	}

}


/*<!-- /////////////// -->*/


@media (max-width: 991px) {
	.content h1 {
		line-height: 40px;
		font-size: 30px;
    }
    .content p {
		font-size: 13px;
		line-height: 22px;
		font-weight: 600;
		padding: 10px 0px;
	}
    .header {
    	background-image: url('../images/bg.png');
    	background-size: 420px 310px;
    }
    .head {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.image img {
		width: 100px;
		height: auto;
	}
	.card {
		padding: 5px;
	}
	.card .card-body h5 {
		font-size: 16px;
	}
	.card .card-body p {
		font-size: 12px;
		
	}
	.range h1 {
		font-size: 20px;
		font-weight: 600;
		line-height: 30px;
	}
	.range p {
		font-size: 12px;
		margin: 15px 0px;
	}
	.trust {
    	background-image: url('../images/bg5.png');
    	background-size: 430px 330px;
    }
	.trust-content {
		padding-right: 0px;
		padding-left: 68px;
	}
	.trust h1 {
		font-size: 20px;
		font-weight: 600;
		line-height: 27px;
	}
	.trust p {
		font-size: 13px;
		color: #757575;
		margin: 22px 0px;
		line-height: 21px;
	}
	.question h1 {
		font-size: 20px;
		font-weight: 600;
		line-height: 30px;
		padding-right: 35px;
	}
	.question ul li {
		font-size: 12px;
		margin-bottom: 15px;
		margin-top: 10px;
		font-weight: 700;
	}
	.question ul li i {
		width: 15px;
		height: 15px;
		font-size: 13px;
		margin-right: 4px;
	}
	.ques{
		padding: 0px 4px;
	}
	.question ul p {
		font-size: 11px;
		padding: 0px 19px 0px 20px
	}
	.number p {
		padding-right: 0px;
	}
	.price h1 {
		font-size: 22px;
	}
	.price  p {
		font-size: 13px;
		margin-top: 20px;
		margin-bottom: 55px;
	}
	.contact h1 {
		font-size: 25px;
		font-weight: 600;
		margin-bottom: 10px;
		margin-top: 15px;
	}
	.contact p {
		font-size: 14px;
		color: #3c3a3a96;
		font-weight: 600;
	}
	.footer .top-footer .follow {
		margin: 20px auto;
		text-align: center;
	}
	.footer .top-footer .follow h1 {
		margin-bottom: 25px
	}

}


/*<!-- /////////////// -->*/

@media (max-width: 767px) {
	.content h1 {
		line-height: 32px;
		font-size: 26px;
    }
    .content p {
		line-height: 21px;
		font-size: 12px;
		padding: 8px 0px;
    }
    .header {
    	background-image: url('../images/bg.png');
    	background-size: 310px 250px;
    }
    .head {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.btn {
		font-size: 12px;
		padding: 10px 21px;
		margin-right: 0px;
	}
	.image {
		padding-bottom: 45px;
	}
	.image img {
		width: 78px;
		height: auto;
	}
	.partner {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.range {
		margin-top: 30px;
	}
	.trust {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.trust {
    	background-image: url('../images/bg5.png');
    	background-size: 300px 250px;
    }
    .trust h1 {
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
	}
	.trust p {
		font-size: 12px;
		color: #757575;
		margin: 18px 0px;
		line-height: 19px;
	}
	.trust-content {
		padding-right: 0px;
		padding-left: 30px;
	}
	.question {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.question h1 {
		font-size: 16px;
		font-weight: 600;
		padding-right: 0px;
		padding-top: 0px;
	}
	.question ul li {
		font-size: 12px;
		margin-bottom: 15px;
		margin-top: 10px;
		font-weight: 700;
	}
	.question ul li i {
		width: 13px;
		height: 13px;
		font-size: 13px;
		margin-right: 4px;
	}
	.question ul p {
		font-size: 11px;
		padding: 0px 19px 0px 20px
	}
	.ques{
		padding: 0px 0px;
		width: 50%;
		margin-top: 15px;
	}
	.question .all {

	}
	.features {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.features h1 {
		font-size: 22px;
	}
	.features p {
		font-size: 12px;
		color: #757575;
		margin-top: 20px;
		margin-bottom: 35px;
	}
	.features .feature .card {
		padding: 0px;
	}
	.features .feature i {
		font-size: 20px;
	}
	.features .feature h5 {
		font-size: 12px;
		margin: 10px 0px;
	}
	.features .feature p {
		font-size: 11px;
	}
	.solution {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.solution h1 {
		font-size: 20px;
	}
	.solution p {
		font-size: 12px;
		margin-top: 20px;
		margin-bottom: 35px;
	}
	.solution a i {
		font-size: 30px;
	}
	.number {
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
	}
	.number h1 {
		font-size: 22px;
	}
	.number p {
		font-size: 12px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.number .nav {
		display: flex;
		justify-content: center;
	}
	.number ul  .first {
		width: 45%;
		float: left;
	}

	.number ul li:last-child{
		border-left: 1px solid #2125292b;
		margin-left: 0px;
		padding-left: 0px;
		width: 45%;
	}
	.price {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.price .three {
		margin-top: 35px;
	}
	.contact {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.footer .top-footer {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.footer .top-footer .follow {
		margin: 20px auto;
		text-align: center;
		width: 50%;
		padding: 0px 150px;
	}
	.footer .top-footer .icon i {
		font-size: 22px;
		color: #fff;
		padding: 12px 15px;
		line-height: 22px;
		float: left;
	}
	.bottom-footer img {
		width: 90px;
		margin-top: 10px;
	}
	.bottom-footer .conclusion {
		padding-right: 65px;
	}


}
/*<!-- /////////////// -->*/

@media (max-width: 575px) {
	.header {
		background-image: url('');
	}
	.content {
		text-align: center;
	}
	.content h1 {
		font-size: 22px;
	}
	.content p {
		line-height: 21px;
		font-size: 12px;
		padding: 8px 80px;
    }
    .btn {
		font-size: 12px;
		padding: 11px 25px;
		margin-right: 10px;
	}
	.head {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.partner {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.image {
		width: 100px;
	}
	.partner-box{	
		width: 95%;
		margin: auto;
		margin-bottom: 25px;
	}
	.range {
		margin-top: 10px;
		padding-left: 25px;
	}
	.trust {
    	background-image: url('');
    	padding-top: 60px;
    	padding-bottom: 60px;
    }
    .trust-content {
		text-align: center;
	}
	.trust h1 {
		font-size: 20px;
		font-weight: 600;
		line-height: 25px;
	}
	.trust p {
		font-size: 12px;
		color: #757575;
		margin: 15px 0px;
		line-height: 19px;
		padding: 0px 80px;
	}
	.question {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.question h1 {
		font-size: 20px;
		font-weight: 600;
		line-height: 27px;
		padding-right: 60px;
		padding-top: 0px;
		text-align: center;
		padding-left: 60px;
	}
	.question ul li {
		font-size: 12px;
	}
	.question ul p {
		font-size: 10px;
		padding: 0px 19px 0px 20px
	}
	.ques{
		padding: 0px 0px;
		width: 52%;
		margin-top: 20px;
	}
	.colum {
		width: 95%;
		margin: auto;
		margin-bottom: 20px;
	}
	.features {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.features h1 {
		font-size: 20px;
	}
	.features p {
		font-size: 12px;
		color: #757575;
		margin-top: 15px;
		margin-bottom: 30px;
		padding: 0px 10px;
	}
	.features .feature .card {
		padding: 5px;
	}
	.features .feature i {
		font-size: 23px;
	}
	.features .feature h5 {
		font-size: 15px;
		margin: 10px 0px;
	}
	.features .feature p {
		font-size: 11px;
	}
	.solution {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.number {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.number h1 {
		font-size: 20px;
	}
	.number p {
		padding: 0px 71px;
	}
	.price {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.price .price-box {
		width: 95%;
		margin: auto;
	}
	.price .two {
		margin-top: 35px;
	}
	.price  p {
		font-size: 12px;
		margin-top: 20px;
		margin-bottom: 55px;
		padding: 0px 50px;
	}
	.contact {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.contact-box {
		padding-left: 25px;
	}
	.contact input[type="text"] {
		width: 70%;
		margin-bottom: 13px;
	}
	.contact input[type="button"] {
   		width: 30%;
	}
	.footer-box {
		width: 45%;
		margin-bottom: 15px;
	}
	.footer .top-footer {
		padding-left: 12px;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.footer .top-footer h1 {
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		margin-bottom: 20px
	}
	.footer .top-footer .follow h1 {
		margin-bottom: 30px;
	}
	.footer .top-footer .follow {
		margin: 0px auto;
		text-align: left; 
		width: 95%;
		padding: 0px 0px;
	}
	.footer .top-footer .icon i {
		font-size: 13px;
		color: #fff;
		padding: 10px 11px;
		line-height: 13px;
		float: left;
	}
	.bottom-footer .conclusion {
		padding-right: 0px;
	}
	.bottom-footer img {
		width: 105px;
		display: block;
		margin: 20px auto;
	}
	.bottom-footer {
		padding: 15px 0px 10px 0px;
	}
	.bottom-footer-box {
		padding: 0px 25px;
	}

}
    

@media (max-width: 375px) {
	.partner-box{	
		width: 93%;
		margin: auto;
		margin-bottom: 25px;
	}
	.question ul li {
		font-size: 10px;
	}
	.question {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.features {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.solution {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.number {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.price {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.contact {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.contact input[type="text"] {
		width: 80%;
		margin-bottom: 13px;
	}
	.contact input[type="button"] {
   		width: 35%;
	}
	.footer .top-footer {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.footer-box {
		width: 60%;
		margin-bottom: 20px;
	}
	.footer .top-footer h1 {
		margin-bottom: 16px;
	}
	.footer .top-footer ul li {
		margin-bottom: 8px;
	}
	.footer .top-footer ul li a {
		font-size: 12px;
	}
	.footer .top-footer .icon i {
		font-size: 13px;
		color: #fff;
		padding: 10px 10px;
		line-height: 13px;
		float: left;
	}
	.footer .top-footer .follow {
		margin: auto;
		text-align: left; 
		width: 92%;
	}
}






